<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<div class="container">

    <h1>Logowanie:</h1>
    <form method="post" action="">
        <table>
            <tr>
                <td>nazwa użytkownika:</td>
                <td><input type="text" class="form-control" name="username"></td>
            </tr>
            <tr>
                <td>hasło:</td>
                <td><input type="password" class="form-control" name="password"></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: end"><input type="submit" class="btn btn-secondary"></td>
            </tr>
        </table>
    </form>
</div>

<style>
    td {
        padding: 10px;
    }

</style>
