<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title> LOG IN to the Form</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/png" sizes="150x150" href="static/mstile-150x150.png">
    <link rel="icon" href="static/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>

<body>
<div class="list">
    <table>
        <tr>
            <th>
                <h3 class="header">Lista pytań</h3>
            </th>
        </tr>
        {% for klucz, wartosc in pytania.items() %}

        <tr>
            <td class="questions_list">{{loop.index}}. {{ wartosc }}</td>

            <td><a href="/usun?id={{ klucz }}"/> usuń</td>


        </tr>
        {% endfor %}
    </table>
</div>
<div class="dwa_przyciski">
    <div>
        <form action="/logout">
            <input class="button_logout" type="submit" value="Logout">
        </form>
    </div>
    <div>
        <form action="/dodaj">
            <input class="button_dodaj_pytanie" type="submit" value="Dodaj pytanie">
        </form>
    </div>
</div>
</body>

</html>


