<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title> LOG IN to the Form</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/png" sizes="150x150" href="static/mstile-150x150.png">
    <link rel="icon" href="static/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>

<body>
    <div class="log_container">
        <div class="question">
           {% for p in pytania %}

            <td>{{ p[0] }}</td>
            {% endfor %}
        </div>

    </div>
</body>

</html>


