body {
    margin: 0;
    background: #f7fafa;
    font-family: Helvetica, Arial, sans-serif;
    }
.log_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.list {
    display:flex;
    justify-content: center;}
.log {
    border: 0.2vw solid #dddee0;
    border-radius: 4px;
    background: white;
    padding: 0rem 1rem 1rem 1rem;
    width: 23%;
    white-space: nowrap;
    font: inherit;
    }
.question {
    border: 4px solid #dddee0;
    border-radius: 4px;
    background: white;
    padding: 1.2rem 1rem 2rem 1rem;
    width: 30%;
    white-space: nowrap;
    font: inherit;
    }
.questions_list {
    border: 2px solid #dddee0;
    border-radius: 10vw;
    background: white;
    padding: 1.8vw 1.8vw 1.8vw 1.8vw;
    width: 80%;
    text-align: center;
    font-size: 1.4vw;
    }

#button {
    display: center;
    align-items: center;
    justify-content: center;
    color: #dc3b3b;
    cursor: pointer;
    height: 2.2vw;
    width: 5.0vw;
    font-size: 1.3vw;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 0.5vw;
    padding: initial
    }

#button_register {
    display: center;
    align-items: center;
    justify-content: center;
    color: #dc3b3b;
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 0.5vw;
    height: 2.7vw;
    width: 5.9vw;
    font-size: 1.3vw;
    padding: initial
    }
#button_baza {
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 0.5vw;
    height: 2.0vw;
    width: 7.5vw;
    font-size: 1.4vw;
    margin-right: 14vw;
    }

.header {
    font-size: 1.7vw;
    text-align: center;
    color: #dc3b3b;
    margin-bottom: 1.5vw;
    }
.head_end {
    font-size: 1.6vw;
    text-align: left;
    }
.in {
    width: 67%;
    height: 1.6vw;
    font-size: 1.1vw;
    text-align: center;
    }

.label_confirm {
    color: gray;
    margin-right: 8%;
    margin-top: 3px;
    display: flex;
    font-size: 1.1vw;
    }

.in_for {
    width: 95%;
    height: 1.6vw;
    font-size: 1.1vw;
    padding-left: 0.5vw;
    }

.question_word {
    font-size: 1.3vw;
    margin: 3px;
    color: gray;}

.inputs {
    text-align: center;
    font-size: 1.0vw;
    }
.user {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    margin-right: 0;
    margin-top: 2vw;}

.password {
    margin-right: 0;
    width: 100%;
    display: flex;
    margin-bottom: 2vw;}

.label_user {
    margin-right: 3%;
    margin-top: 3px;
    display: flex;
    color: gray;
    font-size: 1.1vw;}

.label_password {
    color: gray;
    margin-right: 4%;
    margin-top: 3px;
    display: flex;
    font-size: 1.1vw;}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    }

.checkbox {
    display: inline-flex;
    text-align: inline;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: -50%;
    }

.answer {
    width: 2vw;}

.button_dodaj {
    display: flex;
    align-items: center;
    }

.button_logout {
    color: red;
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 0.50vw;
    height: 2.7vw;
    width: 5.9vw;
    font-size: 1.3vw;
    margin-right: 5vw;
    margin-left: -3vw;
    padding: initial}

.logout {
    display: flex;
    color: #dc3b3b;
    cursor: pointer;
    border-radius: 0.50vw;
    box-shadow: 5px 5px 5px #ccc;
    height: 2.1vw;
    width: 5.3vw;
    font-size: 1.3vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: initial}

.logout_lista {
    display: inline-flex;
    color: #dc3b3b;
    cursor: pointer;
    border-radius: 0.50vw;
    box-shadow: 5px 5px 5px #ccc;
    height: 2.3vw;
    width: 5.3vw;
    font-size: 1.3vw;
    justify-content: center;
    margin-left: 5vw;
    }

.logout_ankieta {
    display: inline-flex;
    color: #dc3b3b;
    cursor: pointer;
    border-radius: 0.50vw;
    box-shadow: 5px 5px 5px #ccc;
    height: 2.3vw;
    width: 5.3vw;
    font-size: 1.3vw;
    justify-content: center;
    margin-left: 2vw;
    }

.dwa_przyciski {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
    margin-top: 1vw;
    }

.dwa_przyciski_baza {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
    margin-top: 1vw;
    margin-left: -5vw;
    }

.alert {
    padding: 1.0vw;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 1vw;
    text-align:center;
    font-size: 2.5vh;
    display: block;
    width: 90%;
    font-size: 1.3vw;
    }

.del {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.6vw 0.6vw;
    font-size: 1.3vw;
    border-radius: 1vw;
    margin-left: 0.9vw;}

.baza {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.3vw 0.4vw;
    font-size: 1.3vw;
    border-radius: 1vw;
    margin-right: 14vw}

.dodaj {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.2vw 0.4vw;
    font-size: 1.3vw;
    border-radius: 1vw;
    color: white;
    cursor: pointer;
    margin-right: 5vw;
    margin-left: 4vw;}

.wyslij_ankiete {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.2vw 0.4vw;
    font-size: 1.3vw;
    border-radius: 1vw;
    color: white;
    cursor: pointer;
    }

a{
    text-decoration:none;
    color: white;}

input {
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            border-radius: .25vw;
    }

.question_form {
    display: -webkit-inline-box;
    text-align: center;
    margin-top: 1.5vw;
    }

#checkbox1 {
    margin-right: 3vw;
    text-align: center;
    }
.label_form {
    font-size: 1.2vw;
    vertical-align: 0.3vw;
    }