body {
    margin: 0;
    background: #f7fafa;
    font-family: Helvetica, Arial, sans-serif;
    }
.log_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.list {
    display:flex;
    justify-content: center;}
.log {
    border: 0.1vw solid #dddee0;
    border-radius: 4px;
    background: white;
    padding: 1.0rem 1rem 1rem 1rem;
    width: 16%;
    white-space: nowrap;
    font: inherit;
    }
.question {
    border: 4px solid #dddee0;
    border-radius: 4px;
    background: white;
    padding: 1.2rem 1rem 2rem 1rem;
    width: 25%;
    white-space: nowrap;
    font: inherit;
    }
.questions_list {
    border: 2px solid #dddee0;
    border-radius: 10vw;
    background: white;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    width: 100%;
    white-space: nowrap;
    margin: auto;
    }

#button {
    display: center;
    align-items: center;
    justify-content: center;
    color: #dc3b3b;
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 0.5vw;
    height: 1.6vw;
    width: 3.5vw;
    font-size: 1.0vw;
    }
#button_baza {
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 0.5vw;
    height: 2.0vw;
    width: 7.5vw;
    font-size: 1.4vw;
    margin-right: 14vw;
    }

.header {
    font-size: 1.3vw;
    text-align: center;
    color: #dc3b3b;
    margin-bottom: 1.5vw;
    }
.head_end {
    font-size: 1.6vw;
    text-align: left;
    }
.in {
    width: 63%;
    height: 1.4vw;
    font-size: 0.9vw;
    text-align: center;
    }

.in_for {
    width: 95%;
    height: 1.4vw;
    font-size: 0.9vw;
    padding-left: 0.5vw;
    }

.question_word {
    font-size: 1.0vw;
    margin: 3px;
    color: gray;}

.inputs {
    text-align: center;
    font-size: 1.0vw;
    }
.user {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    margin-right: 0;}

.password {
    margin-right: 0;
    width: 100%;
    display: flex;
    margin-bottom: 20px;}

.label_user {
    margin-right: 3%;
    margin-top: 3px;
    display: flex;
    color: gray;}

.label_password {
    color: gray;
    margin-right: 4%;
    margin-top: 3px;
    display: flex;}


.box {
    display: flex;
    align-items: center;
    justify-content: center;;
    font-size: 1.5vw;
    }

.checkbox {
    display: center;
    width: 2vw;
    height: 2vw;
    font-size: 10vw;
    margin: auto;}

.answer {
    width: 2vw;}

.button_dodaj {
    display: flex;
    align-items: center;
    justify-content: center;
    }

.button_logout {
    color: red;
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 0.50vw;
    height: 2.7vw;
    width: 5.9vw;
    font-size: 1.4vw;
    margin-right: 5vw;
    margin-left: -3vw;
    padding: 2px;}

.logout {
    display: flex;
    color: #dc3b3b;
    cursor: pointer;
    border-radius: 0.50vw;
    box-shadow: 5px 5px 5px #ccc;
    height: 1.6vw;
    width: 4.0vw;
    font-size: 1.0vw;
    padding: 1px;
    margin: auto;
    align-items: center;
    justify-content: center;}

.logout_lista {
    display: flex;
    color: #dc3b3b;
    cursor: pointer;
    border-radius: 0.50vw;
    box-shadow: 5px 5px 5px #ccc;
    height: 1.6vw;
    width: 4.0vw;
    font-size: 1.0vw;
    padding: 1px;
    margin-right: 4vw;
    align-items: center;
    justify-content: center;}

.dwa_przyciski {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
    margin-top: 1vw;
    }

.alert {
    padding: 1.0vw;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 1vw;
    text-align:center;
    font-size: 1.8vh;
    display: block;
    }

.del {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.2vw 0.3vw;
    font-size: 0.8vw;
    border-radius: 1vw;}

.baza {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.3vw 0.4vw;
    font-size: 0.90vw;
    border-radius: 1vw;
    margin-right: 14vw}

.dodaj {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.2vw 0.4vw;
    font-size: 0.90vw;
    border-radius: 1vw;
    color: white;}

a{
    text-decoration:none;
    color: white;}

input {
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            border-radius: .25vw;
    }
