body {
    margin: 0;
    }
.log_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.log {
    border: 8px solid #dddee0;
    border-radius: 4px;
    background: #f7f5f5;
    padding: 1.2rem 1rem 2rem 1rem;
    width: 25%;
    white-space: nowrap;
    font: inherit;
    font-family: Helvetica, Arial, sans-serif;
    }
.question {
    border: 8px solid #dddee0;
    border-radius: 4px;
    background: #f7f5f5;
    padding: 1.2rem 1rem 2rem 1rem;
    width: 42%;
    white-space: nowrap;
    font: inherit;
    font-family: Helvetica, Arial, sans-serif;
    }
.questions_list {
    display:center;
    border: 4px solid #dddee0;
    border-radius: 4px;
    background: #f7f5f5;
    padding: 1rem 1rem 1rem 1rem;
    width: 50%;
    height:50%
    white-space: nowrap;

    font-family: Helvetica, Arial, sans-serif;
    }

#button {
    color: red;
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 3px;
    height: 2.4vw;
    width: 5.5vw;
    font-size: 1.4vw;
    margin-left: 15px;
    }
#button_baza {
    cursor: pointer;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 3px;
    height: 2.0vw;
    width: 7.5vw;
    font-size: 1.4vw;
    margin-right: 14vw;
    }

.header {
    font-weight: ;
    font-size: 2vw;
    text-align: center;
    }
.head_end {
    font-weight: ;
    font-size: 1.6vw;
    text-align: left;
    }
.in {
    width: 100%;}

.question_word {
    font-size: 1.6vw;
    margin: 3px;}

.inputs {
    text-align: center;
    font-size: 1.3vw;
    }
.user {
    width: 100%;
    margin-right: 10px;
    display: flex;
    margin-bottom: 20px;}

.password {
    width: 100%;
    margin-right: 10px;
    display: flex;
    margin-bottom: 20px;}

.label_user {
    margin-right: 3%;
    margin-top: 3px;
    display: flex;}

.label_password {
    margin-right: 4%;
    margin-top: 3px;
    display: flex;}


.box {
    display: flex;
    align-items: center;
    justify-content: center;;
    font-size: 1.5vw;
    }



.checkbox {
    display: center;
    width: 2vw;
    height: 2vw;
    font-size: 10vw;
    margin: auto;}

.answer {
    width: 2vw;}

.button_dodaj {
    display: flex;
    align-items: center;
    justify-content: center;}
