<h1>Plecak</h1>

<a href="/dodaj">dodaj jedzenie</a>
<br>
<a href="/usun">usun pozycję</a>

<h2>zawartość:</h2>
<table>
    <tr>
        <th>id</th>
        <th>nazwa</th>
        <th>rodzaj</th>
        <th>ilość</th>
        <th>waga (w kg)</th>
    </tr>
    {% for p in przedmioty %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.nazwa }}</td>
        <td>{{ p.rodzaj }}</td>
        <td>{{ p.ilosc }}</td>
        <td>{% if p.waga %}
            {{ p.waga }}kg
            {% else %}
            -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<p>Wszystkie przedmioty w plecaku ważą: {{ suma }}kg</p>

<style>
    table {
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid black;
        padding: 10px;
    }

</style>
